@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color:hsl(235, 21%, 11%);
    background-image: url(/images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size: 100% 35%;
    width: 100%;
    height: 100vh;
    font-size: 18px;
}

.main {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: relative;
    right:11%;
    bottom:5%;
}

.imageOne {
    position: absolute;
    bottom:5%;
    right:-290%;
}

.inputTodo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29%;
    height: 6%;
    background: hsl(235, 24%, 19%);
    margin-bottom:35px;
    z-index: 10;
}

.inputTodo .inputTask {
    width:95%;
    height: 100%;
    background-color: hsl(235, 24%, 19%);
    color:hsl(236, 33%, 92%);
    font-size: 22px;
    border: none;
}

.inputTodo .btnTask {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid white;
    margin-right: 10px;
    margin-left: 10px;
    background: hsl(235, 24%, 19%);
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20vh;  
    max-height: 50vh; 
    overflow: auto;  
}

.todoTask {
    display: flex;
    align-items: center;
    padding:10px;
    width: 29%;
    height: 30%;
    background-color:hsl(235, 24%, 19%);
    cursor: pointer;
    border-bottom: 1px solid hsl(233, 14%, 35%);
}

.todoTaskButton {
    width:5%;
    height: 25px;
    border-radius: 50px;
    border: 1px solid white;
    background-color:hsl(235, 24%, 19%);
    cursor:pointer;
    margin-right: 10px;
}

.footerTask {
    display: flex;
    width: 29%;
    height: 5%;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    font-size: 15px;
    background-color:hsl(235, 24%, 19%);
    cursor: pointer;
    color:hsl(233, 14%, 35%);
    z-index: 9;
}

.moreBtn {
    display: flex;
    gap:20px;
}

.activeA:active {
    color:hsl(220, 98%, 61%);
}

#oneHover:hover {
    color:white;
}





















.attribution { 
    font-size: 11px;
    text-align: center; 
    position:absolute;
    bottom:0;
}